.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #98fb98;
  background-image: linear-gradient(135deg,#43cea2,#185a9d);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;

}

.container h1 {
  color: #185a9d;
  font-size: 3rem;
}

.addBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.container ul{
    list-style: none;
}
.container a{
    margin-left: 2rem;
}

.container a img {
  height: 3.5rem;
}

.container a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.addTodo{
    display: flex;
    margin-top: 5rem;
}

.addTodo input{
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    border: none;
}

.cardContainer{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    border: 1px solid #98fb98;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.card:hover{
    box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img{
    height: 4vh;
    margin-right: 1rem;
}